.box {
    width:300px;
    box-sizing:border-box;
    padding:20px;
}

.box1 {
    height:400px;
    background-color:red;
    float:left;
}

.box2 {
    height:200px;
    background-color:blue;
    float:right;
}

.clearfix {
    clear:both;
}